body{
    margin: 0;
    padding: 0;
    font-size: large;
}

header{
    background-color: #d8e2dc;
    
}

header p{
    width: 50%;
    padding: 24px 24px 0px 24px;
    margin: 0;
}

header a{
    padding: 8px;
    text-decoration: none;
    color: #f08080;
    border-radius: 2px;
    border: 1px solid #f08080;
}

header div{
    width: 100vw;
    display: inline-flex;
}

#lang{
    text-align: right;
}

#lang :focus{
    background-color: #f08080;
    color: #d8e2dc;
}

header h1{
    padding: 0px 24px 8px 24px;
}

#contato{
    text-align: center;
    height: fit-content;
    min-width: none;
    max-width: 50%;
    margin: auto;
    padding-top: 40px;
    border-radius: 8px;
    background-color: #ffe5d9;
    display: flexbox;
}

#contato input, label, textarea{
    vertical-align: text-bottom;
    margin-top: 16px;
}

label{
    display: inline-table;
    width: 15%;
}

#nome, #email, #mensagem{
    width: 50%;
}

#mensagem{
    vertical-align: top;
}

#btn-enviar{
    font-size: 16px;
    padding: 8px;
    margin-bottom: 32px;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    border-style: none;
    background-color: #9d8189;
}

hr{
    margin: 16px;
}

footer{
    text-align: center;
    
}